select {
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none; */
  padding-right: 30px; /* Make space for the custom arrow */
  border-right: 1px solid #ccc;
  /* border: 1px solid #ccc;  */
  /* border-radius: 5px; */
  padding: 8px;
  font-size: 14px;
  max-width: 123px;
}
.short-by-list {
  max-width: 100px;
  border-right: 1px solid #ccc;
}
.show-item {
  max-width: 180px;
}
.beforeshoploop {
  border-bottom: 1px solid #ccc;
}
